$black: #333;
$font14: 14px;
$font16: 16px;
$font20: 20px;
$font24: 24px;
$font26: 26px;
$font28: 28px;
$font32: 32px;
$font40: 40px;
$font48: 48px;
$font100: 100px;
$grayDark: #b1b1b3;
$grayLight: #EEEEEE;
$grayLighter: #F7F7F7;
$grayBack: #FAFAFC;
$greenDark:#24B570;
$greenLight: #5FC997;
$pointColor: #FE6F65;
$white: #fff;