@import "_variables"; // 변수 파일
@import "_atRules"; // @ 규칙 파일

// @font-face { // 한글틀고딕 > 서버 이상
//   font-family: 'HangultuelGothic';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_ten@1.10/HangultuelGothic.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap'); // noto sans kr

* {
  box-sizing: border-box;
  color: $black;
  // font: 18px/1.5 'HangultuelGothic';
  font: 18px/1.5 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
}

a,
input,
label,
span,
strong {
  display: inline-block;
}

body,
html {
  width: 100%;
}

li,
ul {
  display: inline-block;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  outline-style: none;
}

h2 {
  font-size: $font40;
  font-weight: 600;
  text-align: center;
}

input {
  background: none;
  border: none;
  outline-style: none;
}

input::placeholder {
  color: $grayDark;
}

input[type=checkbox] {
  display: none;
}

input[type=submit] {
  cursor: pointer;
}

.nonVisible {
  display: none;
  font-size: 0;
}

// --------------------- header ---------------------
.header {
  @include setFixed (0, 0, 0, 0);
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: .5rem 10%;
  width: 100%;

  &__logo {
    height: 52px;
    margin-right: .5em;
    width: 52px;

    a {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  &__gnb {
    width: 100%;

    a {
      font-size: $font16;
      margin-right: 1em;
      padding: .25em .5em;

      &:last-of-type {
        border: 1px solid $greenDark;
        border-radius: 5px;
        color: $greenDark;
        margin-right: 0;

        &:hover {
          background: $greenDark;
          color: $white;
        }
      }
    }
  }

  &.fixed {
    background: $white;
    border-bottom: 1px dotted $grayDark;
    z-index: 10;
  }
}
