@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap");
* {
  box-sizing: border-box;
  color: #333;
  font: 18px/1.5 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0; }

a,
input,
label,
span,
strong {
  display: inline-block; }

body,
html {
  width: 100%; }

li,
ul {
  display: inline-block;
  list-style: none; }

a {
  text-decoration: none; }

button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  outline-style: none; }

h2 {
  font-size: 40px;
  font-weight: 600;
  text-align: center; }

input {
  background: none;
  border: none;
  outline-style: none; }

input::placeholder {
  color: #b1b1b3; }

input[type=checkbox] {
  display: none; }

input[type=submit] {
  cursor: pointer; }

.nonVisible {
  display: none;
  font-size: 0; }

.header {
  left: 0;
  position: fixed;
  top: 0;
  transform: translate(0, 0);
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: .5rem 10%;
  width: 100%; }
  .header__logo {
    height: 52px;
    margin-right: .5em;
    width: 52px; }
    .header__logo a {
      width: 100%; }
      .header__logo a img {
        width: 100%; }
  .header__gnb {
    width: 100%; }
    .header__gnb a {
      font-size: 16px;
      margin-right: 1em;
      padding: .25em .5em; }
      .header__gnb a:last-of-type {
        border: 1px solid #24B570;
        border-radius: 5px;
        color: #24B570;
        margin-right: 0; }
        .header__gnb a:last-of-type:hover {
          background: #24B570;
          color: #fff; }
  .header.fixed {
    background: #fff;
    border-bottom: 1px dotted #b1b1b3;
    z-index: 10; }

.mainBox {
  width: 100%; }
  .mainBox .reserve {
    background: url(/src/assets/img/main/img_bgMain.jpg) center/auto 960px no-repeat;
    min-height: 960px;
    width: 100%; }
    .mainBox .reserve__box {
      background: #fff;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      margin: 0 6em;
      padding: 6em 1em 2.5em;
      width: 45%; }
      .mainBox .reserve__box__title {
        font-weight: 400;
        padding-bottom: 2rem;
        white-space: pre-line; }
        .mainBox .reserve__box__title strong {
          color: #24B570;
          font-size: inherit; }
      .mainBox .reserve__box__form {
        width: 100%; }
        .mainBox .reserve__box__form h4 {
          font-size: 16px;
          font-weight: 600;
          padding-bottom: 1rem; }
        .mainBox .reserve__box__form > div {
          margin-bottom: 1rem;
          width: 100%; }
          .mainBox .reserve__box__form > div strong {
            color: #FE6F65; }
        .mainBox .reserve__box__form__category ul {
          display: flex;
          justify-content: space-around;
          width: 100%; }
          .mainBox .reserve__box__form__category ul li {
            width: 23%; }
            .mainBox .reserve__box__form__category ul li label {
              border: 1px solid #EEEEEE;
              border-radius: 4px;
              cursor: pointer;
              font-size: 16px;
              padding: 2.5rem 0 .5rem;
              text-align: center;
              width: 100%; }
          .mainBox .reserve__box__form__category ul li:nth-of-type(1) label {
            background-image: url(/src/assets/img/main/ic_label1.png);
            background-position: 50% 20%;
            background-size: 28px;
            background-repeat: no-repeat; }
          .mainBox .reserve__box__form__category ul li:nth-of-type(2) label {
            background-image: url(/src/assets/img/main/ic_label2.png);
            background-position: 50% 20%;
            background-size: 28px;
            background-repeat: no-repeat; }
          .mainBox .reserve__box__form__category ul li:nth-of-type(3) label {
            background-image: url(/src/assets/img/main/ic_label3.png);
            background-position: 50% 20%;
            background-size: 28px;
            background-repeat: no-repeat; }
          .mainBox .reserve__box__form__category ul li:nth-of-type(4) label {
            background-image: url(/src/assets/img/main/ic_label4.png);
            background-position: 50% 20%;
            background-size: 28px;
            background-repeat: no-repeat; }
          .mainBox .reserve__box__form__category ul .nonActive label {
            background-color: #EEEEEE;
            color: #b1b1b3;
            cursor: default; }
          .mainBox .reserve__box__form__category ul .selected label {
            background-image: url(/src/assets/img/main/ic_label1_selected.png);
            border: 1px solid #24B570; }
        .mainBox .reserve__box__form__address input {
          border: 1px solid #EEEEEE;
          border-radius: 4px;
          padding: .5rem 1rem;
          width: 100%; }
        .mainBox .reserve__box__form__date input {
          border: 1px solid #EEEEEE;
          border-radius: 4px;
          padding: .5rem 1rem;
          width: 100%; }
        .mainBox .reserve__box__form input[type=submit] {
          background: #24B570;
          border-radius: 4px;
          color: #fff;
          margin-top: 1rem;
          padding: .5rem 0;
          width: 100%; }
          .mainBox .reserve__box__form input[type=submit]:hover {
            background: #5FC997; }
          .mainBox .reserve__box__form input[type=submit]:active {
            background: #24B570; }
  .mainBox .introBuddy {
    margin: 0 auto;
    margin-bottom: 5rem;
    width: 70%; }
    .mainBox .introBuddy__title {
      padding: 3rem 0; }
    .mainBox .introBuddy__contents {
      border-bottom: 1px solid #EEEEEE;
      display: flex;
      justify-content: space-between;
      padding-bottom: 5rem;
      width: 100%; }
      .mainBox .introBuddy__contents li {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        width: 30%; }
        .mainBox .introBuddy__contents li img {
          padding-bottom: 2rem;
          width: 140px; }
        .mainBox .introBuddy__contents li p {
          text-align: center;
          white-space: pre-line; }
  .mainBox .introService {
    margin: 0 auto;
    margin-bottom: 5rem;
    width: 70%; }
    .mainBox .introService__title {
      padding-bottom: 3rem; }
    .mainBox .introService__category {
      display: flex;
      justify-content: space-evenly;
      width: 100%; }
      .mainBox .introService__category li {
        cursor: pointer;
        font-size: 20px;
        padding-bottom: .2em; }
        .mainBox .introService__category li.selected {
          border-bottom: 4px solid #5FC997; }
    .mainBox .introService__details {
      width: 100%; }
      .mainBox .introService__details li {
        align-items: center;
        border-bottom: 1px solid #EEEEEE;
        display: flex;
        padding: 5rem 0;
        width: 100%; }
        .mainBox .introService__details li img {
          width: 60%; }
        .mainBox .introService__details li p {
          padding: 0 2rem;
          width: 100%;
          word-break: keep-all; }
          .mainBox .introService__details li p strong {
            color: #24B570;
            font-size: 26px;
            padding-bottom: 1rem;
            width: 100%; }
  .mainBox .review {
    padding: 0 12% 2rem;
    position: relative;
    width: 100%; }
    .mainBox .review__title {
      padding-bottom: 3rem; }
    .mainBox .review__contents {
      height: 350px;
      overflow: hidden;
      position: relative;
      vertical-align: top;
      width: 100%; }
      .mainBox .review__contents__page {
        font-size: 0;
        height: auto;
        width: 100%; }
        .mainBox .review__contents__page ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 100%; }
          .mainBox .review__contents__page ul li {
            border: 1px solid #b1b1b3;
            border-radius: 4px;
            min-height: 350px;
            padding: 1rem;
            width: 32%; }
            .mainBox .review__contents__page ul li .profile {
              display: flex;
              margin-bottom: 1rem;
              width: 100%; }
              .mainBox .review__contents__page ul li .profile__pic {
                border-radius: 50%;
                height: 44px;
                width: 44px; }
              .mainBox .review__contents__page ul li .profile__details {
                display: flex;
                flex-direction: column;
                padding-left: .5rem;
                width: 100%; }
                .mainBox .review__contents__page ul li .profile__details div {
                  width: 100%; }
                  .mainBox .review__contents__page ul li .profile__details div span {
                    height: auto;
                    color: #b1b1b3;
                    font-size: 16px; }
                    .mainBox .review__contents__page ul li .profile__details div span img {
                      height: auto;
                      vertical-align: middle;
                      width: 16px; }
      .mainBox .review__contents__page:nth-of-type(1) {
        left: 0;
        position: absolute;
        top: 0;
        transform: translate(calc(100% * 0), 0); }
      .mainBox .review__contents__page:nth-of-type(2) {
        left: 0;
        position: absolute;
        top: 0;
        transform: translate(calc(100% * 1), 0); }
      .mainBox .review__contents__page:nth-of-type(3) {
        left: 0;
        position: absolute;
        top: 0;
        transform: translate(calc(100% * 2), 0); }
      .mainBox .review__contents__page:nth-of-type(4) {
        left: 0;
        position: absolute;
        top: 0;
        transform: translate(calc(100% * 3), 0); }
      .mainBox .review__contents__page:nth-of-type(5) {
        left: 0;
        position: absolute;
        top: 0;
        transform: translate(calc(100% * 4), 0); }
      .mainBox .review__contents__page:nth-of-type(6) {
        left: 0;
        position: absolute;
        top: 0;
        transform: translate(calc(100% * 5), 0); }
      .mainBox .review__contents__page:nth-of-type(7) {
        left: 0;
        position: absolute;
        top: 0;
        transform: translate(calc(100% * 6), 0); }
    .mainBox .review__btn {
      left: 0;
      position: absolute;
      top: 25%;
      transform: translate(0, 0);
      align-items: center;
      display: flex;
      height: 350px;
      justify-content: space-between;
      padding: 0 5%;
      width: 100%; }
      .mainBox .review__btn button {
        border-radius: 50%;
        height: 80px;
        padding: 0;
        width: 80px; }
      .mainBox .review__btn button:nth-of-type(1) {
        background: url(/src/assets/img/main/ic_arrowLeft.png) center/contain no-repeat; }
      .mainBox .review__btn button:nth-of-type(2) {
        background: url(/src/assets/img/main/ic_arrowRight.png) center/contain no-repeat; }
  .mainBox .bannerMain {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: flex-end;
    margin-top: 5rem;
    width: 100%; }
    .mainBox .bannerMain__background {
      align-items: flex-end;
      background: #F7F7F7;
      display: flex;
      height: 310px;
      justify-content: center;
      width: 100%; }
      .mainBox .bannerMain__background img {
        height: 400px;
        width: auto; }
      .mainBox .bannerMain__background__text {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 3rem 0 0 3rem;
        width: 25%; }
        .mainBox .bannerMain__background__text span {
          font-size: 32px;
          margin-bottom: 2rem;
          text-align: center;
          width: 100%; }
          .mainBox .bannerMain__background__text span strong {
            color: #24B570;
            font-size: inherit; }
        .mainBox .bannerMain__background__text a {
          background: #24B570;
          border-radius: 32px;
          color: #fff;
          font-size: 20px;
          padding: .8rem 1.5rem;
          text-align: center;
          width: 235px; }
          .mainBox .bannerMain__background__text a:hover {
            background: #5FC997; }

.support {
  align-items: center;
  display: flex;
  height: 300px;
  justify-content: space-between;
  margin: 0 auto;
  width: 60%; }
  .support__descript {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 30%; }
    .support__descript img {
      height: auto;
      width: 74px; }
    .support__descript span {
      font-weight: 600;
      padding-top: 1rem;
      text-align: center;
      white-space: pre-line;
      word-break: keep-all; }
  .support__contact {
    font-size: 32px;
    text-align: center;
    width: 55%; }
    .support__contact div {
      display: flex;
      font-size: inherit;
      justify-content: space-between;
      padding-bottom: 1rem; }
      .support__contact div span {
        font-size: inherit; }
      .support__contact div a {
        background: url(/src/assets/img/ic_arrowRight.png) 100%/35px no-repeat;
        font-size: inherit;
        padding-right: 2rem; }
    .support__contact p {
      color: #b1b1b3;
      font-size: 26px; }

.quickMenu {
  left: 90%;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  height: auto;
  transform: translate(150%, -50%);
  width: 100px; }
  .quickMenu__box {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .quickMenu__box li {
      height: 100px;
      width: 100%;
      margin-bottom: -4px; }
      .quickMenu__box li button {
        font-size: 0;
        height: 100%;
        width: 100%; }
    .quickMenu__box li:nth-of-type(1) button {
      background-image: url(/src/assets/img/ic_downloadApp.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    .quickMenu__box li:nth-of-type(2) button {
      background-image: url(/src/assets/img/ic_applyBuddy.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    .quickMenu__box li:nth-of-type(3) button {
      background-image: url(/src/assets/img/ic_supportKakao.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    .quickMenu__box li:nth-of-type(4) button {
      background-image: url(/src/assets/img/ic_goTop.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
  .quickMenu.hover {
    transform: translate(0, -50%); }

.footer {
  align-items: flex-end;
  background: #EEEEEE;
  border-top: 1px solid #b1b1b3;
  display: flex;
  justify-content: space-between;
  padding: 2rem 10rem;
  width: 100%; }
  .footer__info {
    display: flex;
    flex-direction: column; }
    .footer__info img {
      width: 170px; }
    .footer__info__siteMenu {
      color: #b1b1b3;
      font-size: 16px;
      padding: 1rem 0; }
      .footer__info__siteMenu li {
        color: inherit;
        font-size: inherit;
        vertical-align: middle; }
        .footer__info__siteMenu li a {
          color: inherit;
          font-size: inherit; }
      .footer__info__siteMenu li:nth-of-type(1) a {
        margin-right: .5em; }
      .footer__info__siteMenu li:nth-of-type(2) a {
        margin-left: .5em; }
    .footer__info__company {
      color: #b1b1b3;
      font-size: 16px;
      white-space: pre-line; }
  .footer__socialChannels li {
    padding-right: 1rem; }
    .footer__socialChannels li:last-of-type {
      padding-right: 0; }
    .footer__socialChannels li a {
      height: 36px;
      vertical-align: bottom;
      width: 36px; }
  .footer__socialChannels li:nth-of-type(1) a {
    background-image: url(/src/assets/img/ic_naverBlog.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .footer__socialChannels li:nth-of-type(2) a {
    background-image: url(/src/assets/img/ic_faceBook.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .footer__socialChannels li:nth-of-type(3) a {
    background-image: url(/src/assets/img/ic_instagram.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

/*# sourceMappingURL=index.css.map */
