@import "_common";

.mainBox {
  // 본문 시작
  width: 100%;

  .reserve {
    // 서비스 예약 시작
    background: url(/src/assets/img/main/img_bgMain.jpg) center/auto 960px no-repeat;
    min-height: 960px;
    width: 100%;

    &__box {
      background: $white;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      margin: 0 6em;
      padding: 6em 1em 2.5em;
      width: 45%;

      &__title {
        font-weight: 400;
        padding-bottom: 2rem;
        white-space: pre-line;

        strong {
          color: $greenDark;
          font-size: inherit;
        }
      }

      &__form {
        width: 100%;
        
        h4 {
          font-size: $font16;
          font-weight: 600;
          padding-bottom: 1rem;
        }

        > div {
          margin-bottom: 1rem;
          width: 100%;

          strong {
            color: $pointColor;
          }
        }

        &__category {
          ul {
            display: flex;
            justify-content: space-around;
            width: 100%;

            li {
              width: 23%;
            
              label {
                border: 1px solid $grayLight;
                border-radius: 4px;
                cursor: pointer;
                font-size: $font16;
                padding: 2.5rem 0 .5rem;
                text-align: center;
                width: 100%;
              }
            }

            $categoryUrl: (
              // 1: '/src/assets/img/ic_label1.png',
              1: '/src/assets/img/ic_label1_selected.png',
                // 라벨 선택 시 이미지 
              2: '/src/assets/img/ic_label2.png',
              3: '/src/assets/img/ic_label3.png',
              4: '/src/assets/img/ic_label4.png'
            );

            @each $idx, $val in $categoryUrl {
              li:nth-of-type(#{$idx}) {
                label {
                  background-image: url(#{$val});
                  background-position: 50% 20%;
                  background-size: 28px;
                  background-repeat: no-repeat;
                }
              }
            };

            .nonActive {
              label {
                background-color: $grayLight;
                color: $grayDark;
                cursor: default;
              }
            }

            .active {
              label {
                background: url(/src/assets/img/ic_label1_selected.png);
                border: 1px solid $greenDark;
              }
            }
          }
        }

        &__address {
          input {
            border: 1px solid $grayLight;
            border-radius: 4px;
            padding: .5rem 1rem;
            width: 100%;
          }
        }

        &__date {
          input {
            border: 1px solid $grayLight;
            border-radius: 4px;
            padding: .5rem 1rem;
            width: 100%;
          }
        }

        input[type=submit] {
          background: $greenDark;
          border-radius: 4px;
          color: $white;
          margin-top: 1rem;
          padding: .5rem 0;
          width: 100%;

          &:hover {
            background: $greenLight;
          }

          &:active {
            background: $greenDark;
          }
        }
      }
    }
    // 서비스 예약 끝
  }

  .introBuddy {
    // 버디 소개 시작
    margin: 0 auto;
    margin-bottom: 5rem;
    width: 70%;

    &__title {
      padding: 3rem 0;
    }

    &__contents {
      border-bottom: 1px solid $grayLight;
      display: flex;
      justify-content: space-between;
      padding-bottom: 5rem;
      width: 100%;

      li {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        width: 30%;

        img {
          padding-bottom: 2rem;
          width: 140px;
        }

        p {
          text-align: center;
          white-space: pre-line;
        }
      }
    }
    // 버디 소개 끝
  }

  .introService {
    // 우푸 특징 소개 시작
    margin: 0 auto;
    margin-bottom: 5rem;
    width: 70%;

    &__title {
      padding-bottom: 3rem;
    }

    &__category {
      text-align: center;
      width: 100%;

      li {
        color: $grayDark;
        cursor: pointer;
        font-size: $font20;
        line-height: 1.25em;
        margin-right: 1.5rem;
        padding-bottom: .2em;
      
        &.active {
          border-bottom: 4px solid $greenLight;
          color: $black;
        }
      }
    }

    &__details {
      width: 100%;
      
      li {
        align-items: center;
        border-bottom: 1px solid $grayLight;
        display: none;
        padding: 5rem 0;
        width: 100%;

        img {
          width: 60%;
        }

        p {
          padding: 0 2rem;
          width: 100%;
          word-break: keep-all;

          strong {
            color: $greenDark;
            font-size: $font26;
            padding-bottom: 1rem;
            width: 100%;
          }
        }

        &.active {
          display: flex;
        }
      }
    }
    // 우푸 특징 소개 끝
  }

  .review {
    // 소비자 후기 시작
    padding: 0 12% 2rem;
    position: relative;
    width: 100%;

    &__title {
      padding-bottom: 3rem;
    }

    &__contents {
      // 소비자 후기 전체 컨테이너 시작
      height: 350px;
      overflow: hidden;
      position: relative;
      vertical-align: top;
      width: 100%;

      &__page {
        // 소비자 후기 페이지 별 컨테이너 시작
        font-size: 0; // 페이지 번호 숨김
        height: auto;
        width: 100%;

        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 100%;

          li {
            // 사용자별 컨테이너 시작
            border: 1px solid $grayDark;
            border-radius: 4px;
            min-height: 350px;
            padding: 1rem;
            width: 32%;

            .profile {
              // 프로필 정보 시작
              display: flex;
              margin-bottom: 1rem;
              width: 100%;
              
              &__pic {
                border-radius: 50%;
                height: 44px;
                width: 44px;
              }

              &__details {
                display: flex;
                flex-direction: column;
                padding-left: .5rem;
                width: 100%;

                div {
                  width: 100%;

                  span {
                    height: auto;
                    color: $grayDark;
                    font-size: $font16;

                    img {
                      height: auto;
                      width: 16px;
                    }
                  }
                }
              }
              // 프로필 정보 끝
            }

            .descript {
              // 후기 내용 시작
              font-size: $font16;
              word-break: keep-all;
              // 후기 내용 끝
            }
            // 사용자별 컨테이너 끝
          }
        }
        // 소비자 후기 페이지 별 컨테이너 끝
      }

      $count: (
        1: 0,
        2: 1,
        3: 2,
        4: 3,
        5: 4,
        6: 5,
        7: 6,
      );

      @each $idx, $val in $count {
        &__page:nth-of-type(#{$idx}) {
          @include setAbsolTop (0, 0, calc(100% * #{$val}));
        }
      };
      // 소비자 후기 전체 컨테이너 끝
    }

    &__btn {
      @include setAbsolTop(0, 25%, 0);
      align-items: center;
      display: flex;
      height: 350px;
      justify-content: space-between;
      padding: 0 5%;
      width: 100%;

      button {
        border-radius: 50%;
        height: 80px;
        padding: 0;
        width: 80px;
      }

      $btnUrl: (
        1: '/src/assets/img/main/ic_arrowLeft.png',
        2: '/src/assets/img/main/ic_arrowRight.png',
      );

      @each $idx, $val in $btnUrl {
        button:nth-of-type(#{$idx}) {
          background: url(#{$val}) center/contain no-repeat;
        }
      };
    }
    // 소비자 후기 끝
  }

  .bannerMain {
    // 앱 다운로드 배너 시작
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: flex-end;
    margin-top: 5rem;
    width: 100%;

    &__background {
      align-items: flex-end;
      background: $grayLighter;
      display: flex;
      height: 310px;
      justify-content: center;
      width: 100%;

      img {
        height: 400px;
        width: auto;
      }

      &__text {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 3rem 0 0 3rem;
        width: 25%;
        
        span {
          font-size: $font32;
          margin-bottom: 2rem;
          text-align: center;
          width: 100%;
          
          strong {
            color: $greenDark;
            font-size: inherit;
          }
        }

        a {
          background: $greenDark;
          border-radius: 32px;
          color: $white;
          font-size: $font20;
          padding: .8rem 1.5rem;
          text-align: center;
          width: 235px;

          &:hover {
            background: $greenLight;
          }
        }
      }
    }
    // 앱 다운로드 배너 끝
  }
  // 본문 끝
}